@import 'variables';

.footer {
  img {
    border: transparent;
  }

  border-color: $gds-gray-100;
  a {
    color: $footer-gray-500;
    border-bottom: 0;

    &:hover {
      border-bottom: 0;
    }
  }

  .fa {
    font-size: 20px;
    color: $footer-gray-400;
  }
}
